* {
    margin: 0;
    padding: 0;
   box-sizing: border-box;
  background-color: #333;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 40px;
    padding: 50px 0;
    color: goldenrod;
}

span {
    color: #fff;
  
}

.container {
    max-width: 1200px;
    margin: 0 auto; 
    text-align: center; 
}

.video-container {
    display: flex;
   flex-wrap: wrap; 
   justify-content: space-between;
}

.video {
    
}